section, article, aside, header, footer, nav, figure, figcaption{
   display: block;
}
time, mark {
    display: inline-block;
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #333;
}

h1, .h1 {

	font-size: 35px;
}
article {
	margin-bottom: 40px;
}
a {
	color: #333;
}
a:hover, a:focus, a:active {
	color: #333;
	text-decoration: none;
}

p, .p1 {
	margin-bottom: 30px;
	font-family: Arial, sans-serif;
}

/*Bootstrap*/

.btn.btn-default{
	background-color: #efefef;
}

/*Header*/

.banner {
	background: transparent url("Images/banner.png") no-repeat center;
	background-size: cover;
	padding-bottom: 12%;
}
.banner-small {
	background: transparent url("Images/banner-small.png") no-repeat center;
	background-size: cover;
	padding-bottom: 7%;
}
.banner-small h1, .banner-small nav {
	display: none;
}
.banner h1 {
  margin-top: 25px;
	letter-spacing: -2px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

header .container {
	position: relative;
}
header nav {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 25px;
}
header nav a {
	padding: 0 10px;
	font-size: 14px;
}
header nav a:hover {
	color: #333;
}
.list-horizontal li {
	display: inline-block;
	list-style: none;
}

/*Main*/

section {
	margin: 60px 0;;
}
.main .h1, .main h1 {
	margin-top: 0;
	margin-bottom: 20px;
}
.main .media-left,.main .media>.pull-left {
	padding-right: 40px;
}
.main a:hover,.main a:focus,.main a:active {
 color: #ff3e64;
}
/*Article content*/

.article-content img
{
   max-width: 100%;
}
.article-links
{
 	color: #ff3e64;
}
.post-image
{
	position: relative;
}
.post-image-description
{
	position: absolute;
	top: 0;
	right: -245px;
	width: 220px;
}
/*Profile*/
.profile-pic {
	text-align:center;
	margin-bottom: 40px;
}
.profile-pic h1{
	margin-top: 40px;
	margin-bottom: 10px;
}
.profile-pic img{
	display: inline-block;
	border-radius: 50%;
}

.profile-pic a {
	display: block;
	color: #ff3e64;
}

/*Comments*/

section.comments-list,
section.comments-form {
	margin-top: 60px;
	margin-bottom: 0;
}

.comments-list h2,
.comments-form h2 {
	font-size: 24px;
	margin-bottom:30px;
}

.comments-list article {
	margin-bottom: 30px;
}
.comments-form textarea {
	min-height:150px;
}

/*Quote*/
.quote h2 {
	font-size: 18px;
}
blockquote {
	border-left: 0;
	padding: 0;
	font-size: 16px;
}

/*About me page*/

.about img {
	border-radius: 50%;
}

.about h1 {
	margin-top: 20px;
	margin-bottom: 0;
}
.about-email{
	color:#ff3e64;
}
/*  Utility styles*/

.u-mt0 {
  margin-top: 0px; }

.u-mt10 {
  margin-top: 10px; }

.u-mt15 {
margin-top: 15px; }

.u-mt20 {
  margin-top: 20px; }

.u-mt30 {
  margin-top: 30px; }

.u-mt40 {
  margin-top: 40px; }

.u-mt50 {
  margin-top: 50px; }

.u-mt60 {
  margin-top: 60px; }

.u-mb0 {
  margin-bottom: 0px; }

.u-mb10 {
  margin-bottom: 10px; }

.u-mb15 {
  margin-bottom: 15px; }

.u-mb20 {
  margin-bottom: 20px; }

.u-mb30 {
  margin-bottom: 30px; }

.u-mb40 {
  margin-bottom: 40px; }

.u-mb50 {
  margin-bottom: 50px; }

.u-mb60 {
  margin-bottom: 60px; }

/*Responsive design*/

@media (max-width: 970px) {

	section {
		margin: 40px 0;
	}

	.main {
		padding: 30px;
	}

	.article-avatar {
		display: none;
	}

}