<div class="row">
    <div class="col-md-2 article-avatar">
        
        <img src="css/Images/thmb-default.jpg" alt="thmb-default">
        
    </div>

     <div class="col-md-7">
        <a class="article-links" ui-sref="home">&mdash; All articles</a>

         <article class="media">
            <h1 class="media-heading">{{ post.Title }}</h1>

            <div class="article-content" ng-bind-html="post.Content | sanitize">
            </div>

            <section class="comments-list">
              <h2>Comments:</h2>

                <article ng-repeat="comment in post.Comments track by $index">
                    <p>{{ comment.Comment }} </p>
                    <footer class="text-muted">
                      &mdash; by {{ comment.Author }}, on {{ comment.Date | date:"MM/dd/yyyy 'at' h:mma" }}
                    </footer>
                </article>   
            </section>

            <section class="comments-form">
              <h2>Leave a comment:</h2>
                <div class="row">
                  <div class="col-xs-12 col-md-8">

                    <div class="form-group">
                       <label for="author">Author</label>
                       <input type="text" id="author" ng-model="newCommentAuthor" class="form-control"/>
                    </div>

                    <div class="form-group">
                       <label for="author">Comment</label>
                       <textarea ng-model="newCommentPost"  class="form-control"/>
                    </div>

                  </div>
                </div>

                <button type="button" class="btn btn-default" ng-click="addComment()" >Add comment</button>
            </section>

            <footer>
              <ul class="post-tags list-horizontal" style="display:none;">
                  <li ng-repeat="tag in post.Tags">
                      {{ tag }}
                  </li>
               </ul>
            </footer>

         </article>

          <a class="article-links" href="#">&mdash; All articles</a>
     </div>
     <div class="col-md-3"></div>

</div>
